/* //// HEADER //// */

.ww-header {
    width: 100%;
  /*   border: solid; */
    display: flex;
    align-items: center;
    /* background-image: linear-gradient(to top, red, black); */
  }
  .ww-nav {
    width: 50%; 
  }
  .ww-nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  .ww-header-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
  /*   border: solid;    */
  }
  .ww-header-image {
    max-width: 50%;
    margin: 100px;
  }
  
  
  /* //// PARALLAX //// */
  
  .parallax-image {
    width: 100%;
    height: 100px;
    border: solid;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: .1;
    background-image: url("../../assets/images/delos-logo1.png");
  }
  
  
  /* //// SECTION-THE STORY //// */
  .ww-the-story {
    /* background-image: linear-gradient(to top, #eddab2, #fff); */
  }
  .ww-section-heading {
    text-align: center;
  }
  
  .dvd-thumbnail {
    width: 200px; 
    height: 100%;
  } 
  .ww-story-content {
    width: 100%;
    display: flex; 
    align-items: flex-start;
    margin: 20px 0px 0px 0px;
  }
  .ww-synopsis {
    margin: 0px 0px 0px 20px;
  }
  
  /* //// SECTION-THE PLAYERS //// */
  .ww-cards-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    /* background: #35654d;  */
  }  
  .single-card-container {
    margin: 25px;
    width: 200px;
    height: 275px;
    perspective: 1000px;
    cursor: pointer;
  
  }
  
  .ww-card {
    width: 200px;
    height: 275px;
    border-radius: 10px;
  /*   border: solid; */
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: .5s linear;
    box-shadow: 1px 5px 10px;
    
  } 
  .card-front { 
    display: flex;
    justify-content: space-between;
   
    background-color: #fffdd9;   
    position: absolute; 
  }  
  .card-back {
    background-size: cover;
    background-position: center;
  }
  .card1-image {
    background-image: url("../../assets/images/card-dolores.jpg")
  }
  
  .card2-image {
    background-image: url("../../assets/images/card-bernard.jpg");
  }
  
  .card3-image {
    background-image: url("../../assets/images/card-maeve.jpg");
  }
  .card4-image {
    background-image: url("../../assets/images/card-charlotte-hale.jpg")
  }
  
  .card5-image {
    background-image: url("../../assets/images/card-man-in-black.jpg");
  }
  
  .card6-image {
    background-image: url("../../assets/images/card-robert-ford.jpg");
  }







  
  .rotate-forward {
    transform: rotateY(180deg);
  }
  .rotate-back {
    transform: rotateY(-180deg);
  }
  
  
  
  .w-container { 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  
     
  }
  
  
  

  
  .w1 {
    margin: 0px;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
  /*   border: solid; */
    text-align: center;
   
  }
  
  
  
  
  .big-w {
  /*   background: blue; */
  /*   border-radius: 50%; */
    margin: 0px;
  /*   padding: 10px; */
    font-size: 80px;
  /*   border: solid; */
    align-self: center;
  }
  
  
  
  
  p {
    
    margin: 0p;
    padding: 0px;
  }
  
  
  
  /* @keyframes flip {
    0% {
      transform: rotateX(0) 
    }
    100% {
      transform: rotateX(180deg);
      background-color: blue;
    }   
  }
  .card-flip {  
    transform: rotateX(180deg); 
    transition-duration: 3s;
    border: solid; 
    background-color: blue; 
    backface-visibility: hidden;  
  } */
  
  
   