/*--------------------GLOBAL------------------------*/
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

ul, h2 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 10px 0px;
}

h1, h2, h3 {
  font-family: syncopate;
}

p, li  {
  font-family: arimo;
}

h2 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

p {
  line-height: 2.0;
  padding: 0px;
  margin: 0Px;
}

button, .buy-dvd {
  font-family: syncopate;
  cursor: pointer;
  border-radius: 5px;
  background: #2a3439;
  color: white;
  padding: 5px;
  text-align: center;
}

.section-heading {
  text-align: center;
  font-family: syncopate;
  padding: 40px 0px;
  color: black;
  border-bottom: 5px solid;
  border-image: radial-gradient( red, white);
  border-image-slice: 1;
  /* theses border properties are for Safari, otherwise all borders were appearing.*/
  border-top: 0px solid transparent;  
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  margin-bottom: 50px;
}

.the-music, .the-story, .the-players{
  width: 1200px;
  margin: auto;
}

.parallax-image {
  width: 100%;
  height: 100vh; /* was 600px */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: +50;
  padding: 15px;
}

/*--------------------HEADER------------------------*/

.header {
    height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom, red, black);
}

.nav {
    width: 50%; 
}

.nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.nav-btn {
    margin-bottom: 20px;
    padding: 20px 30px 20px 30px;
}

.container-nav-btns {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.header-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header-image {
    width: 65%;
    margin: 100px;
}

.tagline {
    font-family: syncopate;
    text-align: center;
}

 /*--------------------PARALLAX------------------------*/
  
#parallax-image-1 {
    background-image: url("../../assets/images/westworld-rehoboam.jpg");
}

#parallax-image-2 {
    background-image: url("../../assets/images/delos-logo2.jpg");
}

#parallax-image-3 {
    background-image: url("../../assets/images/westworld-piano.jpg");
}

 /*--------------------THE STORY------------------------*/

.the-story {
    border: 1px solid transparent;
}

.dvd-thumbnail {
    width: 200px; 
}

.story-content {
  background-image: linear-gradient(to bottom, #eddab2, #fff);
  display: flex; 
  margin: 40px;
  box-shadow: 1px 5px 10px;
  border-radius: 5px;
}

.season-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.synopsis-container {
    width: 100%;
}

.synopsis {
    padding: 25px 15px 0px 0px;
    font-size: 16px;
    font-family: arimo;
}

.season-heading {
  text-align: center;
}

.dvd-thumbnail, .buy-dvd-btn, .season-heading {
  margin: 10px 0px;
}

  /*--------------------THE PLAYERS------------------------*/

#container-card-cast {
  display: flex;
  /* border: solid; */
  /* height: 100%; */
}

.cards-main-container {
    /* border: solid; */
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    justify-items: center; 
    /* background: #a32d15; */
}

#cast-container {
  /* padding:  50px 0px 0px 50px; */
  width: 25%;
  /* margin: 20px 0px 0px 15px; */
  /* height: 100%; */
  /* border: solid; */  
}

#cast-heading {
  text-align: center;
}

/* .cast-name {
  margin: 0px 0px 20px 35px;
  
} */

.single-card-container {
    margin: 25px;
    width: 200px;
    height: 275px;
    perspective: 1000px;
    cursor: pointer; 
}

.card {
    width: 200px;
    height: 275px;
    border-radius: 10px;
  /*   border: solid; */
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: .5s linear;
    box-shadow: 1px 5px 10px;    
}

.card-front { 
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: #b5651e;  
    position: absolute; 
    /* border: solid; */
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-size: cover;
    background-position: center; */
}

.card-back-image {
    width: 80%;
    height: 75%;
    object-fit: cover;
    /* border: solid; */ 
}

.card-back-content {
    /* border: solid; */
    /* width: 80%;
    height: 80%; */
}

.character-name {
    margin: 0px;
    padding: 0px 0px 12px 0px;
    font-weight: 700;
    /* border: solid; */
}

.rotate-forward {
    transform: rotateY(180deg);
}

.rotate-back {
    transform: rotateY(-180deg);
}

  /* .w-container { 
   display: flex;
   flex-direction: column;
   justify-content: space-between;   
   border: solid;
  } */

.card-front-image-container {
    width: 125px;
    height: 125px;
}

.card-front-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 100px;  
}
  
  /*--------------------THE MUSIC------------------------*/

.container-music-main {
  display: flex;
}

.container-songs {
  width: 75%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
}

.song-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  background-image: linear-gradient(to bottom, #eddab2, #fff);
  /* align-items: space-around; */
  /* justify-content: center;
  align-items: center; */
  /* background: red; */
  /* border: solid; */
  /* height: 250px; */
  border-radius: 5px;
  box-shadow: 1px 5px 10px;
  /* font-family: syncopate; */
  /* border: solid; */
}

.card-content {
  /* background: black; */
  /* margin-bottom: 20px; */
  color: white;
  border-radius: 5px;
  
  

}

/* h3 {
  border: solid;
  margin: 0px;
  padding: 0px;
} */

.song-title {
  /* margin-top: 10px; */
  /* text-align: center; */
  height: 2em;
  /* border: solid; */
  align-self: flex-start;
  margin-left: 20px;
}

.song-details {
  color: #2a3439;
  
}

.audio-controls {
 margin-top: 15px;

}

.container-composer {
  max-width: 25%;
  margin-left: 30px;
}

.container-image-composer {
  width: 100%;
  height: 200px;
  margin: auto;
}

#image-composer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------------------FOOTER------------------------*/

footer {
  width: 100%;
  height: 500px;
  background: black;
  color: white;
}


/*--------------------MOBILE 768PX------------------------*/

@media (max-width: 768px) {
  .the-music, .the-story, .the-players {
    width: 600px;
  }

  .season-info {
    justify-content: flex-start;
  }


  .container-songs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cards-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .parallax-image {
    background-attachment: scroll; 
  }

  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .header-image-container {
    width: 100%;
  }

  #container-card-cast {
    flex-direction: column;
    justify-content: center;
  }

  #cast-container {
    width: 100%;
    text-align: center;
  }
  .ards-main-container {
    width: 100%;
  }

  .container-songs {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin: 0px;    
  }

  .container-music-main {
    flex-direction: column;
  }
  .container-composer {
   max-width: 100%;
  }

  #to-top {
    font-size: 14px;
    padding: 10px;
  }
}

/*--------------------MOBILE 420PX------------------------*/

@media (max-width: 420px) {
  .the-music, .the-story, .the-players {
    width: 100%;
  }

  

  .story-content {
    flex-direction: column;
    align-items: center;
  }

  .parallax-image {
    display: none;
  }

  .container-songs {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cards-main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  /* .ww-header-image-container {
    width: 100%;
  } */

  #container-card-cast {
    flex-direction: column;
    /* justify-content: center; */
  }

  #cast-container {
    width: 100%;
    text-align: center;
    /* border: solid; */  
  }

  .cards-main-container {
    width: 100%;
  }

  .container-songs {
    width: 100%;
    grid-template-columns: 1fr;
    /* border: solid; */
    margin: 0px;
    /* grid-gap: 0px; */
  }
  
  .container-music-main {
    flex-direction: column;
  }

  .container-composer {
   max-width: 100%;
  }

  #to-top {
    font-size: 10px;
    padding: 5px;
  }
}









