/*--------------------GLOBAL------------------------*/
html {
  scroll-behavior: smooth;
  /* -webkit-overflow-scrolling: touch; */
}

ul, h2 {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 10px 0px;
}

h1, h2, h3, h4, button, a, p {
  font-family: syncopate;
  color: #2a3439;
}

p, li, .synopsis {
  font-family: arimo;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

p {
  line-height: 2.0;
  padding: 0px;
  margin: 0Px;
}

button, .buy-dvd {
  cursor: pointer;
  border-radius: 5px;
  background: #2a3439;
  color: white;
  padding: 5px;
  text-align: center;
}

.section-heading {
  text-align: center;
  padding: 40px 0px;
  border-bottom: 5px solid;
  border-image: radial-gradient( red, white);
  border-image-slice: 1;
  /* theses border properties are for Safari, otherwise all borders were appearing.*/
  border-top: 0px solid transparent;  
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  margin-bottom: 50px;
  font-size: 28px;
}

.the-music, .the-story, .the-players {
  width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}

.parallax-image {
  width: 100%;
  height: 100vh; /* was 600px */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: +50;
  padding: 15px;
}

/*--------------------HEADER------------------------*/

.header {
    height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom, red, black);
}

.nav {
    width: 50%; 
}

.nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.nav-btn {
    margin-bottom: 20px;
    padding: 20px 30px 20px 30px;
}

.container-nav-btns {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.header-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header-image {
    width: 65%;
    margin: 100px;
}

.tagline {
    text-align: center;
    color: black;
}

 /*--------------------PARALLAX------------------------*/
  
#parallax-image-1 {
    background-image: url("../../assets/images/westworld-rehoboam.jpg");
}

#parallax-image-2 {
    background-image: url("../../assets/images/delos-logo2.jpg");
}

#parallax-image-3 {
    background-image: url("../../assets/images/westworld-piano.jpg");
}

 /*--------------------THE STORY------------------------*/

.dvd-thumbnail {
    width: 200px; 
}

.story-content {
  background-image: linear-gradient(to bottom, #eddab2, #fff);
  display: flex; 
  margin: 40px;
  box-shadow: 1px 5px 10px;
  border-radius: 5px;
}

.season-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.synopsis-container {
    width: 100%;
}

.synopsis {
    padding: 25px 15px 0px 0px;
    font-size: 16px;
}

.season-heading {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
}

.dvd-thumbnail, .buy-dvd-btn, .season-heading {
  margin: 10px 0px;
}

  /*--------------------THE PLAYERS------------------------*/

#container-card-cast {
  display: flex;
}

.cards-main-container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-gap: 20px;
    justify-items: center; 
}

#cast-container {
  width: 40%;
}

#cast-heading {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 0px;
}

.cast-name {
  font-size: 20px;
  margin: 20px 0px; 
}

#list-cast-character-container {
  display: flex;
  justify-content: space-around;
}

.single-card-container {
    width: 200px;
    height: 275px;
    perspective: 1000px;
    cursor: pointer; 
}

.card {
    width: 200px;
    height: 275px;
    border-radius: 10px;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: .5s linear;
    box-shadow: 1px 5px 10px;    
}

.card-front { 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b5651e;  
    position: absolute; 
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-back-image {
    width: 80%;
    height: 75%;
    object-fit: cover;
}

.character-name {
    margin: 0px;
    padding: 0px 0px 12px 0px;
    font-weight: 700;
}

.rotate-forward {
    transform: rotateY(180deg);
}

.rotate-back {
    transform: rotateY(-180deg);
}

.card-front-image-container {
    width: 125px;
    height: 125px;
}

.card-front-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 100px;  
}
  
  /*--------------------THE MUSIC------------------------*/

.container-music-main {
  display: flex;
}

.container-songs {
  width: 75%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
}

.song-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  background-image: linear-gradient(to bottom, #eddab2, #fff);
  border-radius: 5px;
  box-shadow: 1px 5px 10px;
}

.card-content {
  border-radius: 5px;
}

.song-title {
  height: 2em;
  align-self: flex-start;
  margin-left: 20px;
}

.audio-controls {
 margin-top: 15px;
}

#about-composer {}
.container-composer {
  max-width: 25%;
  margin-top: 50px;
}

.container-image-composer {
  width: 100%;
  height: 200px;
  margin: auto;
}

#image-composer {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-subheading {
  font-size: 20px;
  font-weight: 700;
  margin: 12px 0px;
}

/*--------------------FOOTER------------------------*/

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background: black;
  color: white;
}

#hbo-link {
  font-family: arimo;
}

.footer-item {
  margin: 20px 0px;
}

/*--------------------MOBILE 768PX------------------------*/

@media (max-width: 768px) {
  .the-music, .the-story, .the-players {
    width: 600px;
  }

  .season-info {
    justify-content: flex-start;
  }

  .container-songs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cards-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .parallax-image {
    background-attachment: scroll; 
  }

  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .header-image-container {
    width: 100%;
  }

  #container-card-cast {
    flex-direction: column;
    justify-content: center;
  }

  #cast-container {
    width: 100%;
    text-align: center;
  }
  .cards-main-container {
    width: 100%;
  }

  .container-songs {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin: 0px;    
  }

  .container-music-main {
    flex-direction: column;
  }
  .container-composer {
   max-width: 100%;
  }

  #to-top {
    font-size: 14px;
    padding: 10px;
  }
}

/*--------------------MOBILE 420PX------------------------*/

@media (max-width: 420px) {
  .the-music, .the-story, .the-players {
    width: 300px;
  }

  

  .story-content {
    flex-direction: column;
    align-items: center;
  }

  .parallax-image {
    display: none;
  }

  .container-songs {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cards-main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  /* .ww-header-image-container {
    width: 100%;
  } */

  #container-card-cast {
    flex-direction: column;
    /* justify-content: center; */
  }

  #cast-container {
    width: 100%;
    /* text-align: center; */
    /* border: solid; */  
  }

  .cards-main-container {
    width: 100%;
  }

  .container-songs {
    width: 100%;
    grid-template-columns: 1fr;
    /* border: solid; */
    margin: 0px;
    /* grid-gap: 0px; */
  }
  
  .container-music-main {
    flex-direction: column;
  }

  .container-composer {
   max-width: 100%;
  }

  #to-top {
    font-size: 10px;
    padding: 5px;
  }
}









